/*fuente */

@font-face {
    font-family: JosefinSans-Regular;
    src: url("../fonts/Josefin_Sans/JosefinSans-Regular.ttf");
    font-weight: 400;
}

html, body {
    font-family: JosefinSans-Regular;
}

html {
    overflow-x: hidden;
}

h1, h2, h3, h4 {
    font-weight: bold;
    color: #024423;
}

p {
    font-size: 17px;
}

nav.navbar, nav.navbar-default {
    margin-bottom: 0px;
}

header div.col-md-12 {
    padding-left: 0px;
    padding-right: 0px;
}

#migas-pan {
    margin-top: 6% ;
}

#footer-img {
    background-image: url("../img/footer-img.png");
    background-size: 100% auto;
    background-repeat: no-repeat;
    padding-bottom: 10%;
}

footer {
    background-color: #000600;
}